html, body {
	padding: 0;
	margin: 0;
    height: 100%;
    width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;;
}

#map {
	display: inline-block;
	height: 100%;
	width: 70%;
	position: absolute;
	left: 30%;
	
}

#side-bar {
	display: inline-block;
	position: absolute;
	width: 30%;
	max-height: 100%;
	left: 0;
}

.wrapper {
	padding: 20px;
}

#side-header {
	background: #1aa3ff;
}

#side-body {
	display: inline-block;
	position: relative;
	height: 89.5vh;
	width: 100%;
	overflow-y: scroll;
}

.result {
	padding: 10px;
	border-bottom: 1px solid #bbb;
}

.result:hover {
	background: #f8f8f8;
	cursor: pointer;;
}

.result-info {
	display: inline-block;
	width: 65%;
	vertical-align: top;
	height: 100%;
}

.image-wrapper {
	vertical-align: middle;
	display: none;
}

a.yelp-link:hover {
	color: #d90007;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

ul.inline-list {
	list-style: none;
	padding: 0;
}

li.inline-item {
	display: inline-block;
	margin-right: 10px;
}

.grey {
	color: #8c8c8c;
}

.light-grey {
	color: #bbb;
}

h4.result-name {
	font-size: 16px;
	font-weight: 600;
}

.address-info {
	font-size: 13px;
	padding: 0;
	font-weight: 600;
}

form .form-group {
	padding: 0;
	margin: 0;
}

form input[type="text"] {
	outline: none;
	margin: 0;
	padding: 5px;
	width: 100%;
	border: none;
}

