html, body {
	padding: 0;
	margin: 0;
    height: 100%;
    width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Main wrapper */
main {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;;
}

/* Design for the map canvas */
#map {
	display: inline-block;
	height: 100%;
	/* Calculate responsive width and position of map canvas */
	width: calc(100% - 410px);
	left: 410px;
	position: absolute;

}

#result-content p#error {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: red;
}

/* Sidebar designs */
#side-bar {
	display: inline-block;
	position: absolute;
	width: 410px;
	height: 100%;
	left: 0;
	background: #1aa3ff;
}

.wrapper {
	padding: 12px;
}
/* Sidebar header */
#side-header {
	background: #1aa3ff;
}

/* Sidebar controls */
#sidebar-header-controls {
background-color: #4db8ff;
padding: 5px;
}

#sidebar-header-controls ul.inline-list {
margin: 0;
}

#sidebar-header-controls ul.inline-list li {
color: #e6f5ff;
font-weight: 600;
margin-left: 5px;
cursor: pointer;
}

/* Sidebar body */
#side-body {
	display: inline-block;
	position: relative;
	height: 86%;
	width: 100%;
	overflow-y: scroll;
	background: #fff;
}

/* Search result Item design*/
.result {
	padding: 10px;
	border-bottom: 1px solid #bbb;
}

	.result:hover {
		background: #f8f8f8;
		cursor: pointer;
	}

/* Search result info */
.result-info {
	display: inline-block;
	width: 80%;
	vertical-align: top;
	height: 100%;
}

/* Yelp link */
a.yelp-link:hover {
	color: #d90007;
}

/* General H designs */
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

/* Inline list */
ul.inline-list {
	list-style: none;
	padding: 0;
}

li.inline-item {
	display: inline-block;
	margin-right: 10px;
}

/* Grey glass */
.grey {
	color: #8c8c8c;
}

/* Light-grey class */
.light-grey {
	color: #bbb;
}

/* Result business name */
h4.result-name {
	font-size: 16px;
	font-weight: 600;
}

/* Business address info */
.address-info {
	font-size: 13px;
	padding: 0;
	font-weight: 600;
}

/* Search form */
form .form-group {
	padding: 0;
	margin: 0;
}

#search-wrapper {
	padding: 8px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 1px 2px 3px #888888;
}

div#search-icon,
div#delete-icon {
	font-size: 20px;
	vertical-align: middle;
	float: right;
	cursor: pointer;
	width: 30px;
	text-align: center;
}

.divider {
	height: 100%;
	font-size: 20px;
	padding: 0 3px 0 3px;
	float: right;
	display: block;
}

#info-circle-btn {
	position: absolute;
	left: 420px;
	top: 70px;
	font-size: 20px;
	cursor: pointer;
}

form input[type="text"] {
	outline: none;
	margin: 0;
	padding: 5px;
	width: 80%;
	border: none;
	//border: 1px solid;

}

ul#popover-list {
	list-style: none;
	padding: 0;
}

	ul#popover-list li {
		margin: 0 0 10px 0;
	}

/* Scroll bar custome design */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(111,111,111);
}

::-webkit-scrollbar-track {
    background-color: rgb(222,222,222);
}

/* Sidebar controls */
#sidebar-header-controls {
	background-color: #4db8ff;
	padding: 5px;
}
#sidebar-header-controls ul.inline-list {
	margin: 0;
}

#sidebar-header-controls ul.inline-list li {
	color: #e6f5ff;
	font-weight: 600;
	margin-left: 5px;
	cursor: pointer;
}
