html, body {
	padding: 0;
	margin: 0;
    height: 100%;
    width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
    height: 100%;
}

#map {
	height: 65%;
}

#container {
	max-width: 1400px;
	border: 1px solid;
	position: relative;;
	left: 50%;
	transform: translate(-50%, 0);
}

.wrapper {
	margin: 20px;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.wrapper-title {
	margin: 0;
}

form input[type="text"],
form input[type="password"] {
	outline: none;
	width: 300px;
	padding: 5px;
}